<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Addition Result</title>
</head>
<p>

<div align="center">
<h1>Medicine Added</h1>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/medicines}">Medicines</a>
    <a th:href="@{/medicines/search}">Search</a>

</div>

<p th:text="'Medicine Name: ' + ${addmedicines.name}"/>
<p><a href="/addmedicines">Add another medicine</a></p>
<p><a href="/medicines">Return to medicine list</a></p>

</body>
</html>