<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of medicines</title>
</head>
<body>
<h1>Medicine List</h1>
<div align="center">
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Medicine Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="medicines : ${medicines}">
                <td th:text="${medicines.id}">001</td>
                <td th:text="${medicines.medName}">default</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li th:each="medicines : ${medicines}">
            <span th:text="${medicines.medName}">Default</span>
        </li>
    </ul>

</div>

</body>
</html>