<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of medicine</title>
</head>
<body>
<div align="center">
<h1>Medicine List</h1>
<a th:href="@{/}">Home</a>
<a th:href="@{control}">Control</a>
</div>
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Medicine Name</th>
            </tr>
        </thead>
       <tbody>
            <tr th:each="medicine : ${medicine}">
                <td th:text="${medicine.id}">001</td>
                <td th:text="${medicine.name}">default</td>
            </tr>
        </tbody>
    </table>
<!--
<form action="#" th:action="@{/medicines}" th:object="${medicines}" method="post">
    <p>Input Medicine: <input type="text" th:field="*{medicine.name}"/> </p>
    <p><input type="submit" value="Submit"/></p>
</form>
-->
</body>
</html>