<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of medicine</title>
</head>
<body>

<div align="center">
    <h1>Update Medicine</h1>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/medicines}">Medicines</a>
    <a th:href="@{/addmedicines}">Add Medicines</a>
    <a th:href="@{/medicines/search}">Search</a>

</div>

<form action="#" th:action="@{/medicines/update/{id}(id=${medicine.id})}" th:object="${medicine}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Medicine Name">
    <input type="submit" value="Update Medicine">

</form>


</body>
</html>

